@import "bower_components/bootstrap/less/bootstrap.less";

// Robe color: #3c5784 
// Robe edge color: #237eaf
// UC text color: #ed1c24

@brand-primary:         #3b5784;

@navbar-height:                    52px;
@navbar-margin-bottom:             0px;

@navbar-default-bg:                #fff;
@navbar-default-border:            transparent;

@bright-red:                               #ee1d25;

@navbar-default-link-color:                @bright-red;
@navbar-default-link-hover-color:          @bright-red;
@navbar-default-link-hover-bg:             lighten(@bright-red, 40%);
@navbar-default-link-active-color:         @bright-red;
@navbar-default-link-active-bg:            lighten(@bright-red, 40%);

@border-radius-base:             0px;
@border-radius-large:             0px;

@dropdown-link-hover-bg:         lighten(@bright-red, 40%);

img {
  width: 100%;
}

.white {
  color:#fff;
}

.top-padded {
  margin-top:30px;
}

.bottom-padded {
  margin-bottom:30px;
}

.jumbotron {
  background: url("http://assets.occmedomaha.com/images/homepage/banner-1170x500.jpg") center center no-repeat;
}

.bubble {
  background-color:#3B5784;
  padding-left:5px;
  padding-right:5px;
  border-radius:5px;
}

.bubble h1 {
  color:#fff;
}

.bubble p {
  color: #94A6C4;
}

.footer-footer{
  position:relative;
  color: #fff;
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  background-color:#1e3863;
}

footer.bs-docs-header{
  background-color:#6f5499;
  background-image:-webkit-linear-gradient(top,#3b5784 0,#4b6184 100%);
  background-image:linear-gradient(to bottom,#3b5784 0,#4b6184 100%);
  background-repeat:repeat-x;
  color:#94A6C4;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5784', endColorstr='#4b6184', GradientType=0)
}

footer.bs-docs-header a{
  color:#94A6C4;
}


@media (min-width:768px){
 
  footer.bs-docs-header{
    padding-bottom:10px;
    text-align:left
  }

  article{
    min-height:600px;
    padding-bottom:30px;
  }
  
  .brand{
    position: absolute;
  }
}

.navbar-brand {
	padding: 0px 15px;
}
