---
layout: default
title: Family OccMed of Omaha
---
  
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron">
    <div class="bubble">
    <h1>Family OccMed of Omaha</h1>
    <p>Our experienced team and convenient locations offer prompt, quality care for your employees and job applicants.</p>
    </div>
    <p><a href="{{ root_url }}/about.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>What we do</h2>
      <hr>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-lg-4 text-center">
      <img src="	
http://assets.occmedomaha.com/images/homepage/drug-lab-300x300.jpg">
      <h3><a href="{{ root_url }}/services/instant-and-lab-analysis-drug-testing-options.html">Instant Drug Testing</a></h3>
      <p>A good drug-free program includes testing applicants prior to their hire date and performing random drug testing throughout their tenure with your company.</p>
      <hr>
    </div>
    <div class="col-xs-12 col-lg-4 text-center">
      <img src="	
http://assets.occmedomaha.com/images/homepage/eye-exam-300x300.jpg">
      <h3><a href="{{ root_url }}/services/pre-employment-physical-exams.html">Pre-Employment Physicals</a></h3>
      <p>A well designed physical exam program results in fewer injuries, lower costs and a better match of employees to their jobs.</p>
      <hr>
    </div>
    <div class="col-xs-12 col-lg-4 text-center">
      <img src="	
http://assets.occmedomaha.com/images/homepage/injury-treatment-300x300.jpg">
      <h3><a href="{{ root_url }}/services/workmans-comp.html">Minor Illness &amp; Injury Treatment</a></h3>
      <p>A comprehensive program includes providing treatment for workplace illness and injury.</p>
      <hr>
    </div>
  </div>
  
  <div class="row bottom-padded">
    <div class="col-md-12 text-center">
      <a href="{{ root_url }}/services/" role="button" class="btn btn-lg btn-default">See all of our services</a>
    </div>
  </div>
</div>
