<footer class="bs-docs-header" id="content">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-2 col-lg-offset-1">
        <h4><u>Who</u></h4>
        <ul class="list-unstyled">
          <li><a href="#"><strong>Who</strong> We Are</a></li>
          <li><a href="#"><strong>Who</strong> We Serve</a></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6 col-lg-2">
        <h4><u>What</u></h4>
        <ul class="list-unstyled">
          <li><a href="#"><strong>What</strong> are our Services</a></li>
          <li><a href="#"><strong>What</strong> are the Definitions</a></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6 col-lg-2">
        <h4><u>When</u></h4>
        <ul class="list-unstyled">
          <li><a href="#"><strong>When</strong> to Schedule</a></li>
          <li><a href="#"><strong>When</strong> to Expect Lab Results</a></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6 col-lg-2">
        <h4><u>Why</u></h4>
        <ul class="list-unstyled">
          <li><a href="#"><strong>Why</strong> Choose UC</a></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6 col-lg-2">
        <h4><u>How</u></h4>
        <ul class="list-unstyled">
          <li><a href="#"><strong>How</strong> to Register for Testing</a></li>
          <li><a href="#"><strong>How</strong> to Apply for Credit</a></li>
          <li><a href="#"><strong>How</strong> to Receive your Results</a></li>
          <li><a href="#"><strong>How</strong> to Pay</a></li>
        </ul>
      </div>
    </div>
  
    <div class="row">
    </div>
  </div>
</footer>


<div class="footer-footer" id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p class="white">Copyright &copy; FamilyUC</p>
      </div>
      <div class="col-xs-6 right">
        <p class="text-right white"><a href="{{ root_url }}/">Home</a> | <a href="#">Contact Us</a></p>
      </div>
    </div>
  </div>
</div>
