<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ root_url }}/"><img src="http://assets.occmedomaha.com/images/homepage/fam-occmed-logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ root_url }}/about.html">About</a></li>
        <li><a href="{{ root_url }}/services/">Services</a></li>
        <li><a href="{{ root_url }}/employers.html">Employers</a></li>
        <li><a href="{{ root_url }}/hours-and-locations.html">Hours &amp; Locations</a></li>
        <li><a href="{{ root_url }}/frequently-asked-questions.html">Frequently Asked Questions</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
