---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{{ root_url }}/">Home</a></li>
        <li><a href="{{ root_url }}/services">Services</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar">
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Who' %} active {% endif %}" href="{{ root_url }}/fivew/who.html">Who</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'What' %} active {% endif %}" href="{{ root_url }}/fivew/what.html">What</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Why' %} active {% endif %}" href="{{ root_url }}/fivew/why.html">Why</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'When' %} active {% endif %}" href="{{ root_url }}/fivew/when.html">When</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'How' %} active {% endif %}" href="{{ root_url }}/fivew/how.html">How</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">
      <h2>{{ page.title }}</h2>
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</div>