---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{{ root_url }}/">Home</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar">
        <h2>This is a line of text that is sitting in the sidebar on a webpage.</h2>
        <a role="button" class="btn btn-primary btn-lg" href="{{ root_url }}/contact-us.html">I Am Button</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">
      <h2>{{ page.title }}</h2>
      <article>
      {{ content }}
      </article>
    </div>
  </div>
</div>