---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{{ root_url }}/">Home</a></li>
        <li><a href="{{ root_url }}/services">Services</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar">
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Pre-Employment Drug Testing' %} active {% endif %}" href="{{ root_url }}/services/pre-employment-drug-testing.html">Pre-Employment Drug Testing</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Pre-Employment Physical Exams' %} active {% endif %}" href="{{ root_url }}/services/pre-employment-physical-exams.html">Pre-Employment Physical Exams</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Breath Alcohol Testing' %} active {% endif %}" href="{{ root_url }}/services/breath-alcohol-testing.html">Breath Alcohol Testing</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Instant & Lab Analysis Drug Testing Options' %} active {% endif %}" href="{{ root_url }}/services/instant-and-lab-analysis-drug-testing-options.html">Instant &amp; Lab Analysis Drug Testing Options</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'DOT Drug & Alcohol Testing' %} active {% endif %}" href="{{ root_url }}/services/dot-drug-and-alcohol-testing.html">DOT Drug &amp; Alcohol Testing</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'DOT Physical Exams' %} active {% endif %}" href="{{ root_url }}/services/dot-physical-exams.html">DOT Physical Exams</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'TB Testing & Chest X-Rays' %} active {% endif %}" href="{{ root_url }}/services/tb-testing-and-chest-x-rays.html">TB Testing &amp; Chest X-Rays</a>
        <a role="button" class="btn btn-primary btn-lg btn-block {% if page.title == 'Workman's Comp' %} active {% endif %}" href="{{ root_url }}/services/workmans-comp.html">Workman's Comp</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">
      <h2>{{ page.title }}</h2>
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</div>